<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>C2SDQ</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Resources/57x57_icon.png</string>
		<string>Resources/114x114_icon.png</string>
		<string>Resources/50x50_icon.png</string>
		<string>Resources/58x58_icon.png</string>
		<string>Resources/29x29_icon.png</string>
		<string>Resources/100x100_icon.png</string>
		<string>Resources/72x72_icon.png</string>
		<string>Resources/144x144_icon.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.codecampsdq.confapp</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>MinimumOSVersion</key>
	<string>5.0</string>
	<key>SBUsesNetwork</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
